<!DOCTYPE html>
<html class="no-js" ng-app="Laundr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Laundr Admin</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
    <!--
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/vendor/modernizr-2.7.1.min.js"></script>
    -->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-route.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  </head>
  <body>
    <!--[if lt IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><strong>Laundr</strong></a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav" ng-controller="UserCtrl">
          <li class="active"><a class="button" href="#" data-toggle="modal" data-target="#loginModal">Login</a></li>
          <!--
          <li class="active"><a class="button" href="#" ng-click="logOut()">Logout {{credentials.handle}}</a></li>
          <li class="active"><a class="button" href="#" ng-click="debug()">current</a></li>
          <li><a href="#">Link</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Users</a></li>
              <li><a href="#">Orders</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
          -->
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>

    <div class="container">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#users" data-toggle="tab">Users</a></li>
        <li><a href="#cities" data-toggle="tab">Cities</a></li>
        <li><a href="#garments" data-toggle="tab">Garments</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="users">
          <div ng-controller="UserCtrl">
            <div style="padding: 10px">
              <button class="btn btn-primary btn" data-toggle="modal" data-target="#signupModal">
                <span class="glyphicon glyphicon-user"></span>
                Add new user
              </button>
              <button class="btn btn-primary btn" ng-click="update()">
                <span class="glyphicon glyphicon-refresh"></span>
                Refresh
              </button>
            </div>
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="user in users">
                <form class="form-inline">
                  <div class="form-group">
                    <label class="sr-only" for="title">Title</label>
                    <input class="form-control" id="title" ng-model="user.title">
                  </div>
                  <div class="form-group">
                    <label class="sr-only" for="title">Name</label>
                    <input class="form-control" id="title" ng-model="user.name">
                  </div>
                  <div class="form-group">
                    <label class="sr-only" for="title">E-mail</label>
                    <input class="form-control" id="title" ng-model="user.handle">
                  </div>
                  <div class="form-group">
                    <label class="sr-only" for="title">Phone</label>
                    <input class="form-control" id="title" ng-model="user.phonenumber">
                  </div>
                  <div class="form-group">
                    <input ng-model="user.admin" type="checkbox"> <label>is administrator</label>
                  </div>
                <button class="btn btn-success btn-sm" ng-click="updateUser(user)">
                  <span class="glyphicon glyphicon-floppy-save"></span>
                </button>
                </form>
              </li>
            </ul>
          </div>
        </div>
        <div class="tab-pane" id="cities">
          <div ng-controller="CityCtrl">
            <div style="padding: 10px">
              <button class="btn btn-primary btn" data-toggle="modal" data-target="#cityModal">
                <span class="glyphicon glyphicon-map-marker"></span>
                Add new city
              </button>
              <button class="btn btn-primary btn" ng-click="update()">
                <span class="glyphicon glyphicon-refresh"></span>
                Refresh
              </button>
            </div>
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="city in cities">
                <button class="btn btn-success btn-sm" ng-click="updateCity(city)">
                  <span class="glyphicon glyphicon-floppy-save"></span>
                </button>
                <button class="btn btn-danger btn-sm" ng-click="removeCity(city)">
                  <span class="glyphicon glyphicon-remove"></span>
                </button>
                <form class="form-horizontal">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                      <input ng-model="city.name" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Country</label>
                    <div class="col-sm-10">
                      <input ng-model="city.country" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Active</label>
                    <div class="col-sm-10">
                      <input ng-model="city.active" type="checkbox" class="form-control">
                    </div>
                  </div>
                </form>
              </li>
            </ul>
          </div>
        </div>

        <div class="tab-pane" id="garments">
          <div ng-controller="GarmentCtrl">
            <div style="padding: 10px">
              <button class="btn btn-primary btn" data-toggle="modal" data-target="#garmentModal">
                <span class="glyphicon glyphicon-gift"></span>
                Add new garment
              </button>
              <button class="btn btn-primary btn" ng-click="update()">
                <span class="glyphicon glyphicon-refresh"></span>
                Refresh
              </button>
            </div>
            <ul class="list-group" ng-controller="GarmentCtrl">
              <li class="list-group-item" ng-repeat="garment in garments">
                <!--<span>{{garment.name}}</span>-->
                <button class="btn btn-success btn-sm" ng-click="updateGarment(garment)">
                  <span class="glyphicon glyphicon-floppy-save"></span>
                </button>
                <button class="btn btn-danger btn-sm" ng-click="removeGarment(garment)">
                  <span class="glyphicon glyphicon-remove"></span>
                </button>
                <form class="form-horizontal">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                      <input ng-model="garment.name" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Price</label>
                    <div class="col-sm-10">
                      <input ng-model="garment.price" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Active</label>
                    <div class="col-sm-10">
                      <input ng-model="garment.active" type="checkbox" class="form-control">
                    </div>
                  </div>
                </form>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
    </div>
   
    <div class="modal fade" id="signupModal" ng-controller="UserCtrl">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">New User</h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="register_handle" class="col-sm-4 control-label">E-mail</label>
                <div class="col-sm-8">
                  <input ng-model="credentials.handle" class="form-control" id="register_handle" placeholder="E-mail">
                </div>
              </div>
              <div class="form-group">
                <label for="register_title" class="col-sm-4 control-label">Title</label>
                <div class="col-sm-8">
                  <input ng-model="credentials.title" class="form-control" id="register_title" placeholder="Title">
                </div>
              </div>
              <div class="form-group">
                <label for="register_name" class="col-sm-4 control-label">Name</label>
                <div class="col-sm-8">
                  <input ng-model="credentials.name" class="form-control" id="register_name" placeholder="Name">
                </div>
              </div>
              <div class="form-group">
                <label for="register_secret" class="col-sm-4 control-label">Password</label>
                <div class="col-sm-8">
                  <input ng-model="credentials.secret" type="password" class="form-control" id="register_secret" placeholder="Password">
                </div>
              </div>
              <div class="form-group">
                <label for="register_phone" class="col-sm-4 control-label">Phonenumber</label>
                <div class="col-sm-8">
                  <input ng-model="credentials.phonenumber" class="form-control" id="register_phone" placeholder="Phonenumber">
                </div>
              </div>
              <div class="form-group">
                <label for="register_repeat" class="col-sm-4 control-label">Repeat password</label>
                <div class="col-sm-8">
                  <input ng-model="credentials.repeat" type="password" class="form-control" id="register_repeat" placeholder="Password">
                </div>
              </div>
              <!--<div class="form-group">
                <label for="register_admin" class="col-sm-4 control-label">is Administrator</label>
                <div class="col-sm-8">
                  <input ng-model="credentials.admin" type="checkbox" class="form-control" id="register_admin" placeholder="is Administrator">
                </div>
              </div>-->
            </form>
          </div>
          <div class="modal-footer">
            <button ng-click="registerUser(credentials)" type="button" class="btn btn-primary">Register</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
   
    <div class="modal fade" id="loginModal" ng-controller="UserCtrl">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Login</h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="register_handle" class="col-sm-4 control-label">E-mail</label>
                <div class="col-sm-8">
                  <input id="login_handle" class="form-control" ng-model="credentials.handle"></input>
                </div>
              </div>
              <div class="form-group">
                <label for="register_secret" class="col-sm-4 control-label">Password</label>
                <div class="col-sm-8">
                  <input ng-model="credentials.secret" id="login_password" class="form-control" type="password"></input>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button ng-click="setCredentials(credentials)" type="button" class="btn btn-primary">Login</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
   
    <div class="modal fade" id="cityModal" ng-controller="CityCtrl">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">New City</h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="create_city_name" class="col-sm-4 control-label">City name</label>
                <div class="col-sm-8">
                  <input ng-model="city.name" class="form-control" id="create_city_name" placeholder="City name">
                </div>
              </div>
              <div class="form-group">
                <label for="create_city_country" class="col-sm-4 control-label">Country</label>
                <div class="col-sm-8">
                  <input ng-model="city.country" class="form-control" id="create_city_country" placeholder="Country">
                </div>
              </div>
              <div class="form-group">
                <label for="create_city_active" class="col-sm-2 control-label">Active</label>
                <div class="col-sm-10">
                  <input ng-model="city.active" class="form-control" id="create_city_active" type="checkbox">
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button ng-click="createCity(city)" type="button" class="btn btn-primary">Create city</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
   
    <div class="modal fade" id="garmentModal" ng-controller="GarmentCtrl">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">New Garment</h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="create_garment_name" class="col-sm-4 control-label">Name</label>
                <div class="col-sm-8">
                  <input ng-model="garment.name" class="form-control" id="create_garment_name" placeholder="Name">
                </div>
              </div>
              <div class="form-group">
                <label for="create_garment_price" class="col-sm-4 control-label">Price</label>
                <div class="col-sm-8">
                  <input ng-model="garment.price" class="form-control" id="create_garment_price" placeholder="Price">
                </div>
              </div>
              <div class="form-group">
                <label for="create_garment_active" class="col-sm-4 control-label">Active</label>
                <div class="col-sm-8">
                  <input ng-model="garment.active" type="checkbox" class="form-control" id="create_garment_active" placeholder="Active">
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button ng-click="createGarment(garment)" type="button" class="btn btn-primary">Create garment</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </body>
  <script src="js/app.js"></script>
  <script src="js/factories.js"></script>
</html>
